<div *ngIf="visibility">
<div class="container card padding-all-30" style="margin-top: 100px; margin-bottom:30px">
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a role="button" (click)="gotoDashboard()">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <br>  

    <h3 class="text-blue"> Edit Serviceman Form </h3>
    <hr>

    <form [formGroup]="profileForm" (ngSubmit)="submitForm()" ngNativeValidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="ngname" required formControlName="name" type="text" class="form-control" id="name" placeholder="Enter Serviceman Name">
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select [(ngModel)]="ngcategory" required formControlName="category" class="form-control" id="category">
            <option>Electrician</option>
            <option>Carpenter</option>
            <option>Pest Control</option>
            <option>Plumber</option>
            <option>Driver</option>
            <option>Dry Cleaner</option>
            <option>Child Care</option>
          </select>
        </div>
        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input [(ngModel)]="ngmobile" required formControlName="mobile" type="number" class="form-control" id="mobile" placeholder="Enter Mobile Number">
          </div>
          <div class="form-group">
              <label for="email">Email address</label>
              <input [(ngModel)]="ngemail" required formControlName="email" type="email" class="form-control" id="email" placeholder="name@gmail.com">
            </div>
          <div class="form-group">
              <label for="city">City</label>
              <select [(ngModel)]="ngcity" required formControlName="city"  class="form-control" id="city">
                <option>New Delhi</option>
                <option>Mumbai</option>
                <option>Gujarat</option>
                <option>Indore</option>
                <option>Hyderabad</option>
                <option>Bangalore</option>
                <option>Punjab</option>
                <option>Kolkata</option>
              </select>
            </div>
            <div class="form-group">
                <label for="experience">Experience</label>
                <input [(ngModel)]="ngexperrience" required formControlName="experience"  type="number" class="form-control" id="experience" placeholder="Enter Experience">
              </div>
              <div class="form-group">
                  <label for="rating">Rating</label>
                  <select [(ngModel)]="ngrating" required formControlName="rating" class="form-control" id="rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="rate">Inspection Rate</label>
                <input [(ngModel)]="ngrate" required formControlName="rate" type="number" class="form-control" id="rate" placeholder="Enter Inspection Rate">
              </div>
              <button type="submit" class="btn btn-block btn-theme">Save Changes</button>
      </form>
    </div>
  </div>

  <button [hidden]="true" id="btn-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-blue text-white" *ngFor="let x of serviceman">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to edit {{x.name}}'s details</h5>
        </div>
       
        <div class="modal-footer">
          <button type="submit" data-dismiss="modal" (click)="getData()" class="btn bg-blue text-white">YES</button>
          <button type="submit" data-dismiss="modal" (click)="gotoDashboard()" class="btn bg-orange text-white">NO</button>
        </div>
      </div>
    </div>
  </div>