
<div class="container card padding-all-30" style="margin-top: 100px; margin-bottom:40px">
  <br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a role="button" (click)="gotoDashboard()">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
  </nav>
  <br>  
<h3 class="text-blue">Add Serviceman Form</h3>
<hr>

<form [formGroup]="profileForm" (ngSubmit)="submitForm()" ngNativeValidate>
    <div class="form-group">
      <label for="Name">Name</label>
      <input required formControlName="name" type="text" class="form-control" id="Name" placeholder="Enter Serviceman Name">
    </div>
    <div class="form-group">
      <label for="Category">Category</label>
      <select required formControlName="category" class="form-control" id="Category">
        <option>Electrician</option>
        <option>Carpenter</option>
        <option>Pest Control</option>
        <option>Plumber</option>
        <option>Driver</option>
      </select>
    </div>
    <div class="form-group">
        <label for="Mobile">Mobile Number</label>
        <input required formControlName="mobile"  type="number" class="form-control" id="Mobile" placeholder="Enter Mobile Number">
      </div>
      <div class="form-group">
          <label for="Email">Email address</label>
          <input required formControlName="email" type="email" class="form-control" id="Email" placeholder="name@gmail.com">
        </div>
      <div class="form-group">
          <label for="City">City</label>
          <select required formControlName="city" class="form-control" id="City">
            <option>New Delhi</option>
            <option>Mumbai</option>
            <option>Gujarat</option>
            <option>Indore</option>
            <option>Hyderabad</option>
            <option>Bangalore</option>
            <option>Punjab</option>
            <option>Kolkata</option>
          </select>
        </div>
        <div class="form-group">
            <label for="Experience">Experience</label>
            <input required formControlName="experience"  type="number" class="form-control" id="Experience" placeholder="Enter Experience">
          </div>
          <div class="form-group">
              <label for="Rating">Rating</label>
              <select required formControlName="rating" class="form-control" id="Rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="rate">Inspection Rate</label>
              <input required formControlName="rate" type="text" class="form-control" id="rate" placeholder="Enter Inspection Rate">
            </div>

            <button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-block btn-theme"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp; Add Serviceman</button>

  </form>
</div>

<!-- Modal  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="exampleModalLabel">Action Performed</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Servicemen Added Successfull
        </div>
      </div>
    </div>
  </div>