<div class="container">
  <div class="card" style="margin-top: 120px; margin-bottom:30px">
    <div class="card-header bg-blue text-white">
      <h5>Following is the List of {{category}}s from {{city}} city</h5>    
    </div>
    <div class="card-deck padding-all-30">
        <div *ngFor="let x of allService">
          <div class="row padding-all-30">
            <div class="col-4 home-cards">
              <div class="card mb-3 box-shadow" style="max-width: 18rem;width:285px">
                <div class="card-header bg-blue text-white">{{x.name}}</div>
                  <div class="card-body text-center">
                    <img src="assets/circle-pic.png" class="circle-size">
                    <br><br>
                    <h6 class="card-title">Serivce : <b>{{x.category}}</b></h6>
                    <p>Rating - ({{x.rating}} out of 5)</p>
                    <img src="./assets/{{x.rating}}.png" class="rating-size-{{x.rating}}"><br><br>
                    <button class="btn btn-theme"  (click)="gotoServiceman(x.email)"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; More Details</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div> 
</div>   